<html>


<head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Hello Bulma!</title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.1/css/bulma.min.css">
        <script defer src="https://use.fontawesome.com/releases/v5.0.7/js/all.js"></script>
</head>
<body>
        <section class="section">
                <div class="block">
                  <h1 class="title">
                 Hello World
        </h1>
        <p class="subtitle">
            My first website with <strong>Bulma</strong>!

        <div id="app">
            This is a test.<br>
             <!--Vue.js domain-->
        <br> {{ message + '1234' }}
        <br>
        <span :title="date">마우스를 가까이 가져오세요.</span>
        <br>
        <span v-if="seen"> 볼 수 있다.</span>
        <span v-else>볼 수 없다.</span>
        <br>
        내가 공부 하고 싶은 언어
        <ul>
            <li v-for="todo in todos">{{todo.text}}</li>
        </ul>
        </div class="columns">
                <div class="column"> 
                </div> 
         <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
         <script>
            const myApp = new Vue({
                 el: '#app',
                 data: {
                 todos: [
                     { text: 'JavaScript' },
                     { text: 'Vue' },
                     { text: 'Nuxt' }
                     ]
    }
  })
</script>
</body>
</html>